@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Heebo", sans-serif !important;
  color: #18181a;
}

#BG-NavBar {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.7s;
}

.BG-NavBarColor {
  background-color: rgba(0, 30, 85, 0.95);
  opacity: 0.95;
}
.BG-NavBarColor svg {
  color: #e2f0f8;
}
.BG-NavBarColor span {
  color: #e2f0f8;
}

.transitionFadeIn {
  opacity: 1;
  transition: all 0.7s;
}

.transitionFadeOut {
  opacity: 0;
  transition: all 0.7s;
  height: 0;
}

#Hero {
  background-image: linear-gradient(180deg, rgba(201, 225, 238, 0.15) 0%, #c9e1ee 89.58%), url("../assets/BG/BGPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 256px inherit;
}
#Hero div.container {
  padding: 128px 16px;
}

.spanText {
  font-size: 20px;
  font-weight: 300;
}

#logo-Hero svg {
  height: 128px;
  width: 128px;
}
#logo-Hero .hero-TextLogo {
  font-size: 20px;
  font-weight: 400;
}

.BG-MobileTablet-Menu {
  box-shadow: inset 0 0 2000px rgba(0, 30, 85, 0.7);
}

.font-Icon {
  font-size: 24px;
}

.cursorPointer {
  cursor: pointer;
}

.shareBtn {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 24px;
  width: 32px;
  margin-right: 16px;
}

.Nav-font-menu, .navbar-nav > a {
  font-size: 1.25rem;
  color: #e2f0f8 !important;
}

.customCarouselDot {
  background: #6aa0bd85;
  border-radius: 20px;
  width: 32px;
  height: 8px;
  border-color: transparent;
}

.customCarouselDot--active {
  background: #45b2ed;
}

.react-multi-carousel-dot-list {
  position: inherit !important;
}

.section-Margin {
  margin-bottom: 128px;
}

.carousel-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 256px;
}

.ImgShadowEffect {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.flexRowAlignCenter {
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  h1 {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 93.75%;
  }

  #Hero div.container {
    padding: 256px 16px;
  }

  .fontDark a {
    color: #18181a !important;
  }

  .section-Margin {
    margin-bottom: 256px;
  }
}
#contact-section div:first-child {
  bottom: 0;
}
#contact-section div:first-child .BGRotate {
  transform: rotate(180deg);
}
#contact-section #contact-section-text h2 {
  margin-bottom: 4rem;
}
#contact-section #contact-section-text p {
  margin: 0;
}
#contact-section #contact-section-text svg {
  height: 32px;
  width: 32px;
}
#contact-section #contact-section-text .icons-WT .telegram-icon svg {
  transform: scale(0.9);
}
#contact-section #contact-section-text .icons-WT .telegram-icon svg circle {
  fill: #30a7db;
}

#contact-section-text form {
  /* Firefox */
}
#contact-section-text form input::-webkit-outer-spin-button,
#contact-section-text form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contact-section-text form input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=styles.css.map */
