#BG-NavBar {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .7s;
}
.BG-NavBarColor{
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(2px);

}

.transitionFadeIn{
    opacity: 1;
    transition: all .7s;
}

.transitionFadeOut{
    opacity: 0;
    transition: all .7s;
    height: 0;
}

#BG-Hero {
  object-fit: cover;
  width: 100%;
}
